body {
    background-color: #f9f9f9;
    font-family: 'Segoe UI', sans-serif;
}

h1, h2, h3 {
    color: #1f2937;
}

.stButton>button {
    background-color: #1d4ed8;
    color: white;
    border-radius: 8px;
}

div.stDownloadButton button {
    background-color: #059669;
    color: white;
    font-weight: bold;
}
